.head1{
font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: rgb(255, 86, 0);
text-align: center;
}
.text{
    font-family: "Josefin Sans", sans-serif;
font-size: 49px;
font-weight: 600;
line-height: 63.7px;
color: rgb(33, 32, 37);
text-align: center;
}
#special{
font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #ffffff;
background: #ff5600; 
margin: 15px 0px;
padding: 5px 22px;
}
#lunch{
font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgb(27, 27, 27);
margin: 15px 0px;
padding: 5px 22px;
}
#breakfast{
font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgb(27, 27, 27);
margin: 15px 0px;
padding: 5px 22px;
}
#dinner{
font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgb(27, 27, 27);
margin: 15px 0px;
padding: 5px 22px;
}



/* .menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* keeps image nicely cropped */
  /* border-radius: 10px; /* optional for rounded corners */
  /* font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(33, 37, 41); */
  

/* } */ 
